{% extends 'rango/base.html' %}
{% load staticfiles %}  <!--表示在template中要使用static files-->

{% block title_block %}
    About Rango
{% endblock %}

{% block body_block %}
    <h1>Rango says...</h1>
    <div>
        here is the about page.<br />
        <strong>{{ boldmessage }}</strong><br />
    </div>
    <div>
        <!--要展示的static file路径，放在大括号百分号单引号的中， static会把STATIC——URL和后面文件路径合并-->
        <img src="{% static 'images/rango.jpg' %}" alt="Picture of Rango" />
    </div>
    <div>
        <img src="{{ MEDIA_URL }}cat.jpg" alt="Picture of a Cat" />
    </div>
{% endblock %}
